.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: darkblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: yellow;
}

.App-link {
  color: yellow;
}
.num-input {
  max-width: 200px;
}
.query-button {
  margin-top: 30px;
  color: darkblue;
}
.coinImage {
  width: 94px;
}
.outcomeImg {
  width: 94px;
}
.fixed_img {
  width: 10px;
  height: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
